<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="nav-bar">
        <div class="nav-item"><div class="nav-item-text">Name</div></div>
    </div>
    <div id ="signin-container">
        <div id="signin-row">
            <div class="signin-box"><div class="signin-box-text">I'm a volunteer</div></div>
            <div class="signin-box"><div class="signin-box-text">I'm an organization</div></div>
        </div>
    </div>
</body>
</html>