{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/index.css">
<link rel="stylesheet" href="../static/login.css">
<title>Organization Login</title>
{% endblock %}

{% block content %}
<body>
  <div class="header">
    <h1>VolunteerMe</h1>
  </div>
  <div class ="button-container">
      <div class="card1" >
        <p>
          <b>Login</b>
        </p><br>
        <label for="orgname">Organization Name</label><br>
        <input type="text" name="orgname"></input><br>
        <label for="orgname">Password</label><br>
        <input type="text" name="password"></input><br>
        <input type="button" name="login" value="Login"></input>
      </div>
    <div class="card2" >
      <p>
          <b>Register</b>
      </p><br>
      <label for="orgname">Organization Name</label><br>
        <input type="text" name="orgname"></input><br>
        <label for="orgname">Email</label><br>
        <input type="text" name="email"></input><br>
        <label for="orgname">Password</label><br>
        <input type="text" name="password"></input><br>
        <input type="button" name="register" value="Register"></input>
  </div>
  </body>
{% endblock %}