{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/index.css">
<title>VolunteerMe</title>
{% endblock %}

{% block content %}
<body>
    <div class="header">
      <h1>VolunteerMe</h1>
    </div>
    <div class="content-container">
        <div class="tags-bar">
            <h1>Tags</h1>
        </div>
        <div class="posts-container">
            <div class="postings">
                <h1>Postings</h1>
            </div>
            <div class="info-container">
                <h1>Organization</h1>
            </div>
        </div>
    </div> 
</body>
{% endblock %}