{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/index.css">
<title>VolunteerMe</title>
{% endblock %}

{% block content %}
<body>
    <div class="header">
      <h1>VolunteerMe</h1>
    </div>
    <div class="content-container">
        <div class="tags-bar">
            <h1>Tags</h1>
        </div>
        <div class="posts-container">
            <div class="postings">
                <h1>Postings</h1>
            </div>
            <div class="info-container">
                <h1 class="org-name">Organization</h1>
                <img src="../static/warehouse.png" height= "75" width="75"alt="">
                <h4 class="org-location">Location</h4>
                <h4 class="org-email">Email</h4>
                <h3 class="pos-title">Position Title</h3>
                <h3 class="pos-location">Location</h3>
                <div class="divider"></div>
                <p class="pos-description">
                    Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown 
                    printer took a galley of type and scrambled it to make a 
                    type specimen book. It has survived not only five centuries, 
                    but also the leap into electronic typesetting, remaining 
                    essentially unchanged. It was popularised in the 1960s with 
                    the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.
                </p>
                <button class="apply-btn">Apply</button>
            </div>
        </div>
    </div> 
</body>
{% endblock %}